<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OKUpdateChannel</key>
	<string>stable</string>
	<key>SUFeedURL</key>
	<string>https://github.com/yaolin-dev/OKVideoMac/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>I6uLz5RB1UQaPas2RD7lrQlD53PHiczO+pkzoXuJYjU=</string>
</dict>
</plist>
